<div class="field alpha omega eight columns">
  <label>
    <%= Spree.t('user_usage_limit.label', input: text_field_tag("#{param_prefix}[preferred_uses]", promotion_rule.preferred_uses, style: 'width: 40px;')).html_safe %>
  </label>
</div>
